.container {
    width: 1220px;
    height: 212px;
    display: flex;
    flex-direction: row;
}

.info {
    width: 460px;
    height: 114px;
    left: 30px;
    font-size: 32px;
    line-height: 38.4px;
    text-align: left;
    font-family: var(--font-onest-bold);
}

.infoBlock {
    width: 560px;
    height: 188px;
    margin-left: 140px;
}

.switchBlock {
    width: 560px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switcher {
    width: 276px;
    height: 52px;
    border-radius: 10px;
    background-color: #F2F6F6;
    color: #A4ADAC
}

.switcher:hover {
    color: #1D1D1B;
}

.selectedSwitcher {
    composes: switcher;
    background-color: #1D1D1B;
    color: #FFF;
}

.selectedSwitcher:hover {
    color: #FFF;
}

.subTitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-top: 32px;

}