.container {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {
    width: 1160px;
    height: 318px;
    margin-top: 126px;
    padding: 0 30px 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 84px;
}

.title {
    font-size: 32px;
    line-height: 38.4px;
    text-align: left;
    font-family: var(--font-onest-bold);
}

.form {
    width: 100%;
    height: 216px;
    display: flex;
    gap: 40px;
}

.emailBlock {
    width: 560px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sendFormButton {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 10px;
    background-color: #1D1D1B;
    margin-top: 48px;
}

.sendFormButton:hover {
    background-color: #A4ADAC;
}

@media (max-width: 1439px) {
    .container {
        height: 620px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .content {
        width: 688px;
        height: 550px;
        gap: 32px;
        padding: 0;
        margin-top: 25px;
    }
    .title {
        font-size: 28px;
        line-height: 33.6px;
    }
    .form {
        height: 484px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .emailBlock {
        width: 100%;
        height: 232px;
        display: flex;
        flex-direction: column;
    }
    .sendFormButton {
        width: 100%;
        margin-top: 64px;
    }
}

@media (max-width: 767px) {
    .container {
        height: 620px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .content {
        width: 288px;
        height: 533px;
    }
    .title {
        font-size: 24px;
        line-height: 30.6px;
    }
    .form {
        height: 467px;
    }
    .emailBlock {
        height: 212px;
    }
    .sendFormButton {
        width: 100%;
        margin-top: 32px;
    }
}
