.container {
    width: 100%;
    z-index: 99;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
}

.content {
    width: 1220px;
    margin-top: 32px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.burgerButton {
    width: 44px;
    height: 44px;
}

.logo {
    font-size: 21.49px;
    line-height: 36.84px;
    letter-spacing: 0.7674418687820435px;
    text-align: center;
    width: 161px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    font-family: var(--font-onest-bold);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1439px) {
    .content {
        width: 688px;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .content {
        width: 288px;
        margin-top: 16px;
        height: 32px;
    }
    .burgerButton {
        width: 32px;
        height: 32px;
    }
    .logo {
        width: 113px;
        height: 28px;
        font-size: 15.08px;
        line-height: 25.85px;
        letter-spacing: 0.5386393070220947px;
    }
}

.linksBlock {
    display: flex;
}

.link {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    width: 173px;
    height: 44px;
}

.link:hover {
    color: #E0570E;
}