.container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1220px;
    height: 122px;
    display: flex;
    align-items: center;
    gap: 95px;
}

.title {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    font-family: var(--font-onest-bold);
}

.logos {
    width: 632px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1439px) {
    .container {
        height: 150px;
    }
    .content {
        width: 688px;
        height: 60px;
        gap: 70px
    }
    .title {
        width: 140px;
        font-size: 16px;
        line-height: 20.4px;
    }
    .logos {
        width: 433.51px;
        height: 48.51px;
    }
}

@media (max-width: 767px) {
    .container {
        height: 270px;
    }
    .content {
        flex-direction: column;
        align-items: flex-start;
        width: 288px;
        height: 191px;
        gap: 21px
    }
    .title {
        width: 166px;
        font-size: 20px;
        line-height: 25.5px;
    }
    .logos {
        width: 288px;
        height: 116px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

