.container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1220px;
    height: 122px;
    display: flex;
    align-items: center;
    gap: 95px;
}

.title {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    font-family: var(--font-onest-bold);
}

.logos {
    width: 632px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
