.checkBoxBlock {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    margin-top: 32px;
    height: 40px;
}

.checkBox {
    width: 14px;
    height: 14px;
    margin-top: 4px;
    accent-color: #FF5900;
}

.checkBoxText {
    width: 438px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.underlined {
    text-decoration: underline;
    text-underline-offset: 3px;
}


@media (max-width: 767px) {
    .checkBoxBlock {
        gap: 6px;
        height: 60px;
    }
    .checkBoxText {
        line-height: 17.85px
    }
}