.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    height: 771px;
    position: absolute;
    top: 67px;
    z-index: 0;
}

.componentsBlock {
    width: 1220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

@media (max-width: 1439px) {
    .componentsBlock {
        width: 688px;
    }
    .banner {
        height: 600px;
        top: 0;
    }
}

@media (max-width: 767px) {
    .componentsBlock {
        width: 288px;
        height: 850px;
    }

    .banner {
        height: 200px;
        top: 0;
    }
}
