.container {
    width: 560px;
    height: 100%;
    display: flex;
    align-items: center;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF5900;
}

.line {
    width: 221px;
    height: 2px;
    background-color: #FF5900;
}

.image {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5900;
    border-radius: 18px;
}


@media (max-width: 1439px) {
    .container {
        width: 280px;
    }
    .circle {
        width: 8px;
        height: 8px;
    }
    .line {
        width: 90px;
    }
    .image {
        width: 80px;
        height: 80px;
        border-radius: 12px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 288px;
        height: 186px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .circle {
        width: 8px;
        height: 8px;
    }
    .line {
        width: 2px;
        height: 53px;
    }
    .image {
        width: 80px;
        height: 80px;
        border-radius: 12px;
    }
}
